{% load static %}

<span class="{#% if not debug_mode %#}d-none{#% endif %#} page-number" id="id_page_number">1</span>

<div class="card mt-3">
	<div class="card-header">
		<div class="d-flex flex-row justify-content-between">
			<h3 class="">Public Chat</h3>
			<div class="d-flex flex-row align-items-center">
				<span class="material-icons m-auto pr-1 connected-users-icon"><i class="bi bi-person"></i></span>
				<span class="m-auto connected-users" id="id_connected_users"></span>
			</div>

		</div>
	</div>
	<div class="card-body p-1">
		<div class="d-flex flex-column" id="id_chat_log_container">
			<div class="d-none justify-content-center" id="id_chatroom_loading_spinner_container">
				<div class="spinner-border text-info" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
			</div>
			<div class="d-flex chat-log" id="id_chat_log">

			</div>

            <div class="input-group mb-3">
              <textarea class="flex-grow-1 chat-message-input" id="id_chat_message_input" placeholder="Write your message"></textarea>
              <button class="btn btn-primary chat-message-submit-button">
                <span id="id_chat_message_submit" class="material-icons">send
                </span>
              </button>
            </div>
		</div>
	</div>
</div>

<!-- Client Error MODAL -->

<button type="button" id="id_trigger_client_error_modal" class="d-none btn btn-primary" data-bs-toggle="modal" data-bs-target="#id_client_error_modal">
</button>
<div class="modal fade" id="id_client_error_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Socket Client Error</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="id_client_error_modal_body">Something went wrong.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="id_client_error_modal_close_btn">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Client Error MODAL -->
{% include 'js/messages.html' %}
{% include 'js/utils.html' %}

<script type="text/javascript">

    // websocket configuration
    let ws_scheme = window.location.protocol === "https" ? "wss" : "ws"
    let ws_path = ws_scheme + "://" + window.location.host + "{% if not debug_mode %}:8001{% endif %}/public_chat/{{ room_id }}/"
    let public_chat_websocket = new WebSocket(ws_path)

    // handle opening websocket connection
    public_chat_websocket.onopen = function(e) {
      public_chat_websocket.send(
          JSON.stringify({
            "command": "join",
            "room_id": "{{ room_id }}"
          })
      )
      getChatRoomMessages()
    }

    // handle message send from consumer
    public_chat_websocket.onmessage = function(e) {
      let data = JSON.parse(e.data)
      switch(data.msg_type) {
        case 0: appendChatMessage(data, true, true); break
        case 1: showClientErrorModal(data.message); break
        case 2: handleMessagePayload(data.messages, data.new_page_number); break
        case 4: setConnectedUserCount(data.connected_users_count); break
        case 3: displayLoadingSpinner(data.display); break
      }
    }

    public_chat_websocket.onclose = function(e) { console.log("websocket connection closed" + e) }
    public_chat_websocket.onerror = function(e) { console.log("websocket error" + e) }
    if (public_chat_websocket.readyState === WebSocket.OPEN) { console.log("public chat socket opened") }
    else if (public_chat_websocket.readyState === WebSocket.CONNECTING) { console.log("public chat socket connecting") }

    // user message sending process
    let messageSubmitBtn = document.getElementById("id_chat_message_submit")
    let messageInput = document.getElementById("id_chat_message_input")
    messageInput.focus()

    messageSubmitBtn.onclick = function(e) {
      public_chat_websocket.send(
        JSON.stringify({
            "command": "send",
            "message": messageInput.value,
            "room_id": "{{ room_id }}"
        })
      )
      messageInput.value = ""
    }

    messageInput.onkeydown = function(e) {
      if (e.code === "Enter" && !e.shiftKey) e.preventDefault()
    }

    messageInput.onkeyup = function(e) {
      if (e.code === "Enter" && e.shiftKey) { /* handled automatically by textarea*/ }
      else if (e.code === "Enter" && !e.shiftKey) { // just enter
        if (messageInput.value.trim()) messageSubmitBtn.click()
      }
    }

    // chat scroll event listener to render new messages
    let chatLog = document.getElementById("id_chat_log")
    chatLog.addEventListener('scroll', function(e) {
      if (Math.abs(chatLog.scrollTop) + 50 >= (chatLog.scrollHeight - chatLog.offsetHeight)) {
        getChatRoomMessages()
      }
    })


    function showClientErrorModal(message){
		document.getElementById("id_client_error_modal_body").innerHTML = message
		document.getElementById("id_trigger_client_error_modal").click()
	}

</script>
