{% load static %}


{% if debug_mode %}
PUBLIC CHAT
{% endif %}
<span class="{% if not debug_mode %}d-none{% endif %} page-number" id="id_page_number">1</span>

<div class="card mt-3">
	<div class="card-header">
		<div class="d-flex flex-row justify-content-between">
			<h3 class="">Public Chat</h3>
			<div class="d-flex flex-row align-items-center">
				<span class="material-icons m-auto pr-1 connected-users-icon"><i class="bi bi-person-fill"></i></span>
				<span class="m-auto connected-users" id="id_connected_users"></span>
			</div>

		</div>
	</div>
	<div class="card-body p-1">
		<div class="d-flex flex-column" id="id_chat_log_container">
			<div class="d-flex flex-row justify-content-center" id="id_chatroom_loading_spinner_container">
				<div class="spinner-border text-primary"  id="id_chatroom_loading_spinner" role="status"  style="display: none; ">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<div class="d-flex chat-log" id="id_chat_log">

			</div>

            <div class="input-group mb-3">
              <textarea class="flex-grow-1 chat-message-input" id="id_chat_message_input" placeholder="Write your message"></textarea>
              <button class="btn btn-primary chat-message-submit-button">
                <span id="id_chat_message_submit" class="material-icons">send
                </span>
              </button>
            </div>
		</div>
	</div>
</div>

<!-- Client Error MODAL -->

<button type="button" id="id_trigger_client_error_modal" class="d-none btn btn-primary" data-bs-toggle="modal" data-bs-target="#id_client_error_modal">
</button>
<div class="modal fade" id="id_client_error_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Socket Client Error</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="id_client_error_modal_body">Something went wrong.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="id_client_error_modal_close_btn">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Client Error MODAL -->


<script type="text/javascript">

    setupPublicChatWebSocket()

    function setupPublicChatWebSocket() {
        let ws_scheme = window.location.protocol === "https" ? "wss" : "ws"
        let ws_path = null

        {% if debug_mode %}
        ws_path = ws_scheme + "://" + window.location.host + "/public_chat/{{ room_id }}/" // development
        {% else %}
        ws_path = ws_scheme + "://" + window.location.host + ":8001/public_chat/{{ room_id }}/" // production
        {% endif %}

        let public_chat_websocket = new WebSocket(ws_path)

        public_chat_websocket.onmessage = function(e) {
          console.log("incoming message")
          let data = JSON.parse(e.data)
          console.log(data)
          if (data.msg_type === 0) {
            appendChatMessage(data)
          } else if (data.msg_type === 1) {
            showClientErrorModal(data.message)
          }
        }

        public_chat_websocket.onopen = function(e) {
          console.log("websocket connection opened")
        }

        public_chat_websocket.onclose = function(e) {
          console.log("websocket connection closed" + e)
        }

        public_chat_websocket.onerror = function(e) {
          console.log("websocket error" + e)
        }

        if (public_chat_websocket.readyState === WebSocket.OPEN) {
          console.log("public chat socket opened")
        } else if (public_chat_websocket.readyState === WebSocket.CONNECTING) {
          console.log("public chat socket connecting")
        }

        let messageSubmitBtn = document.getElementById("id_chat_message_submit")
        let messageInput = document.getElementById("id_chat_message_input")

        messageSubmitBtn.onclick = function(e) {
          public_chat_websocket.send(
            JSON.stringify({
                "command": "send",
                "message": messageInput.value,
            })
          )
          messageInput.value = ""
        }

        messageInput.focus()
        messageInput.onkeydown = function(e) {
          if (e.code === "Enter" && !e.shiftKey) {
            e.preventDefault()
          }
        }

        messageInput.onkeyup = function(e) {
          if (e.code === "Enter" && e.shiftKey) {
            // handled automatically by textarea
          } else if (e.code === "Enter" && !e.shiftKey) { // just enter
            if (messageInput.value.trim()) {
              messageSubmitBtn.click()
            }
          }
        }
    }

    function appendChatMessage(data) {
      createChatMessage(data.message, data.username, data.image, data.user_id)
    }

    function createChatMessage(message, username, image, user_id) {
      let user_profile_url = "{% url 'account:view' user_id=123456789 %}".replace(123456789, user_id)
      let chaLog = document.getElementById("id_chat_log")
      let newMessage = `
        <div class="d-flex message-container">

            <a href="${user_profile_url}" target="_blank">
                <img src=${image} class="profile-image-chat rounded-circle img-fluid" alt="">
            </a>
            <div class="d-flex flex-column" style="margin-left: 5px">
                <div class="d-flex">
                    <a href="${user_profile_url}" target="_blank" class="username-href">
                        <span class="username-span">${username}</span>
                    </a>
                </div>
                <p class="msg-p">
                    ${message}
                </p>
            </div>
        </div>
      `
      let newMessageDiv = document.createElement("div")
      newMessageDiv.innerHTML = newMessage
      chaLog.insertBefore(newMessageDiv, chaLog.firstChild)
    }

    function showClientErrorModal(message){
		document.getElementById("id_client_error_modal_body").innerHTML = message
		document.getElementById("id_trigger_client_error_modal").click()
	}

</script>
