:root {
    --main-bg-color: #f2f2f2;
    --dark-bg-color: #a2a2a2;

    --secondary-text-color: #808080;
    --light-primary-text-color: #0080ff;
}

.main {
    min-height: 100vh;
    height: 100%;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-weight: 380;
}

body {
    background-color: var(--main-bg-color);
}

/* home */



/* end of home */

/* header */

.chat-dropdown-header:hover{
		cursor: pointer;
		background: var(--main-bg-color);
	}
.chat-dropdown-header{
    color: var(--light-primary-text-color);
}
.scrollable-menu {
    height: auto;
    max-height: 90vh;
    width: 500px;
    overflow-x: hidden;
}

.notifications-material-icon {
    font-size: 28px;

}
.notifications-icon-container{
    width: 40px;
    height: 40px;
    background-color: var(--main-bg-color);
}
.notifications-icon-container:hover {
    cursor: pointer;
    background-color: var(--secondary-text-color)
}
.notify-badge{
    position: absolute;
    background: transparent;
    height:1.2rem;
    width:1.2rem;
    line-height: 1.2rem;
    top:1rem;
    right:2rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
    font-weight: 630;
    margin-top:-15px;
    margin-right: -25px;
}
#id_notifications_spinner{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* end of header*/

/* authentication */

/* register */

.card-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* end of register */

/* login */

.card-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* end of login */

/* password reset */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.h3{
    text-align: center;
}

/* end of password reset */


/* end of authentication*/