:root {
    --main-bg-color: #f2f2f2;
    --dark-bg-color: #a2a2a2;

    --secondary-text-color: #808080;
    --light-primary-text-color: #0080ff;
}

.main {
    min-height: 100vh;
    height: 100%;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-weight: 380;
}

body {
    background-color: var(--main-bg-color);
}

/* home */



/* end of home */

/* header */

.chat-dropdown-header:hover{
		cursor: pointer;
		background: var(--main-bg-color);
	}
.chat-dropdown-header{
    color: var(--light-primary-text-color);
}
.scrollable-menu {
    height: auto;
    max-height: 90vh;
    width: 500px;
    overflow-x: hidden;
}

.notifications-material-icon {
    font-size: 28px;

}
.notifications-icon-container{
    width: 40px;
    height: 40px;
    background-color: var(--main-bg-color);
}
.notifications-icon-container:hover {
    cursor: pointer;
    background-color: var(--secondary-text-color)
}
.notify-badge{
    position: absolute;
    background: transparent;
    height:1.2rem;
    width:1.2rem;
    line-height: 1.2rem;
    top:1rem;
    right:2rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
    font-weight: 630;
    margin-top:-15px;
    margin-right: -25px;
}
#id_notifications_spinner{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* end of header*/

/* authentication */

/* register */

.card-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* end of register */

/* login */

.card-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* end of login */

/* password reset */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* end of password reset */

/* end of authentication*/


/* account */

.image-container{
    max-width: 250px;
    height: auto;
}
.field-heading{
    color: var(--secondary-text-color);
}
.icon-container:hover {
    opacity: 0.3;
    cursor: pointer;
}
.friends-icon{
    color: #4287f5;
    font-size: 40px;
}
.person-add-icon{
    color: #4287f5;
    font-size: 40px;
}
.friend-text{
    font-weight: 500;
    color: black;
}
.friends-btn{
    background-color: #cccccc;
    border-color: #cccccc;
    color: #000;
    font-weight: 500;
}
.friends-btn:hover {
    background-color: #bfbfbf;
    border-color: #bfbfbf;
}
.dropdown-toggle::after {
    content: none;
}
.card{
    border-radius: 12px;
}
.material-icons{
    font-size: 30px;
}
.material-icons:hover{
    cursor: pointer;
}
.confirm-friend-request{
    color: green;
}
.confirm-friend-request:hover {
    opacity: 0.3;
}
.decline-friend-request:hover {
    opacity: 0.3;
}
.decline-friend-request{
    color: red;
}
.message-btn-text{
    font-weight: 500;
}

.profile-card {
    min-width: 400px;
}


/* end of account */

/*user search*/

.profile-image{
    max-height: 100px;
    max-width: 100px;
}
.profile-image{
    border-radius: 12px;
}
.card{
    border-radius: 12px;
}
.friends-text{
    color: #000;
    font-weight: 500;
}
.friends-text-container{
    border: 1px solid #cccccc;
    border-radius: 12px;
}
.friends-btn:hover {
    background-color: #bfbfbf;
    border-color: #bfbfbf;
}
.dropdown-toggle::after {
    content: none;
}
.profile-link{
    color: #000;
}
.checkmark-icon{
    color: green;
}
.cancel-icon{
    color: red;
}

/*end of user search*/

/* account edit */

.field-heading{
    color: #737373;
}
#id_confirm{
    color: green;
}
#id_confirm:hover {
    opacity: 0.3;
}
#id_cancel:hover {
    opacity: 0.3;
}
#id_cancel{
    color: red;
}
.material-icons{
    font-size: 30px;
}
.material-icons:hover{
    cursor: pointer;
}

.middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 16px;
    padding: 10px 25px;
    background-color: #0066ff;
    color: #eee;
}

/* end of account edit */

.profile-link{
    color: #000;
}
.material-icons{
    font-size: 30px;
}
.material-icons:hover{
    cursor: pointer;
}
.confirm-friend-request{
    color: green;
}
.confirm-friend-request:hover {
    opacity: 0.3;
}
.decline-friend-request:hover {
    opacity: 0.3;
}
.decline-friend-request{
    color: red;
}

/* public chat */

.chat-log {
	height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	background-color: #fff;
	font-size: 0.9em;
	flex-direction: column-reverse;
}
.profile-image-chat{
	width: 33px;
	height: 33px;
	margin-top: 0px;
	margin-bottom: auto;
}
.profile-image-chat:hover{
	cursor: pointer;
}
.username-span{
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: auto;
	margin-left: 5px;
	margin-right: 5px;
}

.username-href {
    color: black;
    text-decoration: none;
}

.username-href:hover {
    color: #333232;
}

.username-span:hover{
	cursor: pointer;
}
.msg-p{
	font-weight: 450;
	margin-top: 5px;
	margin-bottom: auto;
	margin-left: 5px;
	margin-right: 5px;
	white-space: normal;
	-ms-word-break: break-all;
	word-break: break-all;
}
.message-container{
	margin-top: 10px;
	justify-content: start;
}
.timestamp-span{
	font-weight: 400;
	font-size: 0.8em;
	color: var(--secondary-text-color);
}
.timestamp-span:hover{
	cursor: pointer;
}
#id_chatroom_loading_spinner_container{
    position: absolute;
}
.connected-users{
	color: red;
}
.connected-users-icon{
	color: red;
}
.connected-users-icon:hover{
	cursor: default;
}

/* end of public chat */

.scrollable-menu {
    height: auto;
    max-height: 80vh;
    width: 500px;
    overflow-x: hidden;
}

