{% load static %}
<script type="text/javascript">
    function handleMessagePayload(messages, newPageNumber) {
        if (messages) {
          setPageNumber(newPageNumber)
          messages.forEach(function(message) {
            appendChatMessage(message, true, false)
          })
        } else setPaginationExhausted()
    }

    function getChatRoomMessages() {
      let pageNumber = document.getElementById("id_page_number").innerHTML
      if (pageNumber !== "-1") {
        setPageNumber("-1") // query in progress
        public_chat_websocket.send(
          JSON.stringify({
            "command": "get_chat_room_messages",
            "room_id": '{{ room_id }}',
            "page_number": pageNumber,
          })
        )
      }
    }

    function appendChatMessage(data, maintainPosition, isNew) {
      createChatMessage(
        data.message,
        data.username,
        data.image,
        data.user_id,
        data.natural_timestamp,
        maintainPosition,
        isNew,
        data.msg_id
      )
    }

    function createChatMessage(message, username, image, user_id, timestamp, maintainPosition, isNew, msg_id) {
      let user_profile_url = "{% url 'account:view' user_id=123456789 %}".replace(123456789, user_id)
      let chatLog = document.getElementById("id_chat_log")
      let image_id = "id_profile_image_" + msg_id
      let newMessage = `
        <div class="d-flex message-container">

            <a href="${user_profile_url}" target="_blank">
                <img src="{% static 'images/dummy_image.png' %}" class="profile-image-chat rounded-circle img-fluid" id="${image_id}">
            </a>
            <div class="d-flex flex-column" style="margin-left: 5px">
                <div class="d-flex">
                    <a href="${user_profile_url}" target="_blank" class="username-href">
                        <span class="username-span">${username}</span>
                    </a>
                    <span class="d-flex align-items-center timestamp-span">${timestamp}</span>
                </div>
                <p class="msg-p">
                    ${validateText(message)}
                </p>
            </div>
        </div>
      `
      let newMessageDiv = document.createElement("div")
      newMessageDiv.innerHTML = newMessage

      isNew === true ?
        chatLog.insertBefore(newMessageDiv, chatLog.firstChild):
        chatLog.appendChild(newMessageDiv)

      maintainPosition === false ? chatLog.scrollTop = chatLog.scrollHeight : 1;

      preLoadImage(image, image_id)
    }
</script>